<h2> Your Current Brewery Route:</h2>

<% if current_user.added_breweries.exists? -%>
<ul class = "added_breweries"><% @breweries.each do |brewery| %>
  <li><div class = "fav_brewery">
    <li>  <a href="/breweries/<%= brewery.id %>"> <%= brewery.name %> - <%brewery.address%></li>
    </a>
  </div></li>

  <%end%>
</ul>
<%else%>
<h3>There are no breweries on your route at this time. Fix this by clicking the "(+) add to route" next to the Brewery page headings!</h3> <%=link_to "Back to breweries", breweries_path%>>
<%end%>


<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCxxjJpNla-0b8zzZ6pVKVnH4-ftC-2tnE


    &q=dc+brau" allowfullscreen>
<!-- </iframe>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->
