<h2> Explore Our Brewery Partners</h2>
<div class="breweries">
  <% @breweries.each do |brewery| %>
<li>  <div class = "brewery">
    <a href="/breweries/<%= brewery.id %>">
      <br>
      <%= brewery.name %>
    </a>
  </div></li>
  <% end %>
</div>
