<div class="breweries">
  <% @breweries.each do |brewery| %>
  <div class = "brewery">
    <a href="/breweries/<%= brewery.id %>">
      <%= image_tag(brewery.photo_url, class:"photo") %>
      <br>
      <%= brewery.name %>
    </a>
  </div>
  <% end %>
</div>
