<h2> Currently editing: <%=@beer.name%> </h2>

<%= render 'form' %>

<p><% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>
