.route {
  font-size:16px;
}

.no-route{
  font-size:16px;
}
.photo_and_map {
  width: 390px;
  height:500px;
  float:right;
  border-radius: 10px;
  margin:10px 15px;
}
.photo{
  max-width: 390px;
}

.map{
  margin: 20px;
  float:right;
}

.logo{
  width:140px;
  margin: 0 20px 20px 0px;
  float: left;
}
.breweries{
  padding:0 85px;
}

.breweries li{
color: darkslategray;
text-align: left;
font-size:25px;
}


.photo{
  height: 250px;
  float:right;
}

h2 {
  display: block;
  text-align: left;
  text-transform:capitalize;
}

.fav {
  color:green;
}

.no_fav {
  color:red;
}

.larger_text{
  font-size:18px;
  text-align:justify;
}
