
.featured{
  text-align:center;
}
.assorted_breweries {
  display:flex;
}

.intro{
  margin: 30px;
}

.intro p{
  text-align:center;
  font-size:20px;
}


.random_brewery {
  display: inline-block;
  height: 300px;
  text-align: center;
  flex-grow:center;
  overflow: hidden;
  margin: 0 20px;
  border-radius:20px;
  background-color: gainsboro;
  flex: 1 1 50%;
}

.random_brewery h2 {
  font-size: 25px;
  text-transform:uppercase;
  letter-spacing:3px;
  padding:5px;
  text-align: center;
}

.homepage_photo {
  width: 380px;
}
