// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.quotes {

  text-align: center;
  font-size: 25px;
  margin: 40px 0;
  letter-spacing: 2px;

}
.assorted_breweries {
display:flex;
}

.random_brewery {
  display: inline-block;
  height: 350px;
  text-align: center;
  overflow: hidden;
  margin: 0 15px;
  border-radius:20px;
  background-color: lightsalmon;
  flex: 1 1 50%;
}

.homepage_photo {
  width: 440px;
}


h2 {
  font-size: 25px;
  text-transform:uppercase;
  font-weight: bold;
  letter-spacing:3px;
  padding:10px;
}
