// // Place all the styles related to the Registrations controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
//
//
// .assorted_breweries {
//   display:flex;
// }
//
// .intro{
//   display:block;
//   text-align:center;
//   font-size:20px;
//   margin: 40px;
// }
//
// .random_brewery {
//   display: inline-block;
//   height: 300px;
//   text-align: center;
//   flex-grow:center;
//   overflow: hidden;
//   margin: 0 20px;
//   border-radius:20px;
//   background-color: gainsboro;
//   flex: 1 1 50%;
// }
//
// .random_brewery h2 {
//   font-size: 25px;
//   text-transform:uppercase;
//   letter-spacing:3px;
//   padding:5px;
// }
//
// .homepage_photo {
//   width: 370px;
// }
//
//
// .photo{
//   height: 250px;
//   float:right;
// }
