<!DOCTYPE html>
<html>
<head>
  <title>DC Brew Circuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>
<body>

    <a href = "/"><h1>DC Brew Circuit</h1></a>


<%= yield %>
<br>
FOOTER HERE<br>

<a href = "/"> home </a>


</body>
</html>
